<div class="container">
  <div class="stepwizard col-md-offset-3">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a type="button" (click)="setViewToShow('profile')" class="btn btn-primary btn-circle">1</a>
          <p>Perfil</p>
        </div>
        <div class="stepwizard-step">
          <a type="button" (click)="setViewToShow('preferences')" class="btn btn-default btn-circle" disabled="disabled">2</a>
          <p>Preferências</p>
        </div>
        <div class="stepwizard-step">
          <a type="button" (click)="setViewToShow('diet')" class="btn btn-default btn-circle" disabled="disabled">3</a>
          <p>Dieta</p>
        </div>
      </div>
  </div>
<div>

<div *ngIf="showProfile">
  <app-register></app-register>
</div>
<div *ngIf="showPreferences">
  <app-preferences></app-preferences>
<div>
<div *ngIf="showDiet">
  <app-diet></app-diet>
</div>
