<div class="container">
  <div class="stepwizard col-md-offset-3">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a href="#register" type="button" class="btn btn-primary btn-circle">1</a>
          <p>Cadastro</p>
        </div>
        <div class="stepwizard-step">
          <a href="#preferences" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
          <p>Preferências</p>
        </div>
        <div class="stepwizard-step">
          <a href="#diet" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
          <p>Dieta</p>
        </div>
      </div>
  </div>
<div>
