<div class="container">
  <div>
    <h2>Café da manhã</h2>
    <h6>Horário: 06: 30</h6>
    <p>Escolher uma opção para cada tipo de alimento.</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th> Tipo </th>
          <th> Alimento </th>
          <th> Quantidade </th>
          <th> Calorias </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alimento of cafeDaManha">
          <td>{{alimento.tipo}}</td>
          <td>{{alimento.name}}</td>
          <td>{{alimento.quantidade}}</td>
          <td>{{alimento.calorias}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2> Almoço </h2>
    <h6>Horário: 12: 30</h6>
    <p>Escolher uma opção para cada tipo de alimento.</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th> Tipo </th>
          <th> Alimento </th>
          <th> Quantidade </th>
          <th> Calorias </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alimento of almoco">
          <td>{{alimento.tipo}}</td>
          <td>{{alimento.name}}</td>
          <td>{{alimento.quantidade}}</td>
          <td>{{alimento.calorias}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2> Sobremesa </h2>
    <h6>Horário: 12: 50</h6>
    <p>Escolher uma opção para cada tipo de alimento.</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th> Tipo </th>
          <th> Alimento </th>
          <th> Quantidade </th>
          <th> Calorias </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alimento of sobremesa">
          <td>{{alimento.tipo}}</td>
          <td>{{alimento.name}}</td>
          <td>{{alimento.quantidade}}</td>
          <td>{{alimento.calorias}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2> Lanche </h2>
    <h6>Horário: 16: 00</h6>
    <p>Escolher uma opção para cada tipo de alimento.</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th> Tipo </th>
          <th> Alimento </th>
          <th> Quantidade </th>
          <th> Calorias </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alimento of sobremesa">
          <td>{{alimento.tipo}}</td>
          <td>{{alimento.name}}</td>
          <td>{{alimento.quantidade}}</td>
          <td>{{alimento.calorias}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2> Jantar </h2>
    <h6>Horário: 19: 30</h6>
    <p>Escolher uma opção para cada tipo de alimento.</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th> Tipo </th>
          <th> Alimento </th>
          <th> Quantidade </th>
          <th> Calorias </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alimento of jantar">
          <td>{{alimento.tipo}}</td>
          <td>{{alimento.name}}</td>
          <td>{{alimento.quantidade}}</td>
          <td>{{alimento.calorias}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
