<div class="container" id="registerForm" style="margin: 40px">
    <form name="form">
          <div>
            <h4 translate> Perfil </h4>
          </div>
          <div class="form-group">
            <div>
              <label class="control-label" for="type" translate>SEXO</label>
            </div>
            <div>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" (click)="setGender('Homem')">Homem</button>
                <button type="button" class="btn btn-secondary" (click)="setGender('Mulher')">Mulher</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="type" translate>IDADE</label>
            <input type="number" id="age" class="form-control" name="age" placeholder="anos" [(ngModel)]="profile.age" #age="ngModel" required/>

          </div>
          <div class="form-group">
            <label class="control-label" for="type" translate>Altura</label>
            <input type="number" id="height" class="form-control" name="height" placeholder="Ex: 180 (cm)" step="0.1" [(ngModel)]="profile.height" #height="ngModel" required/>
          </div>
          <div class="form-group">
            <label class="control-label" for="type" translate>PESO</label>
            <input type="number" id="weight" class="form-control" name="weight" placeholder="Ex: 78,5 (Kg)" step="0.1" [(ngModel)]="profile.weight" #weight="ngModel" required/>
          </div>
          <div class="form-group">
            <label class="control-label" for="levelOfPhysicalActivity" translate> NÍVEL DE ATIVIDADE FÍSICA </label>
            <select class="form-control" id="levelOfPhysicalActivity" name="levelOfPhysicalActivity" [(ngModel)]="profile.levelOfPhysicalActivity">
              <option value="sedentario"> Sedentário </option>
              <option value="leve"> Exercício físico leve ou desporto 1-3 dias/semana </option>
              <option value="moderado"> Exercício físico moderado ou desporto 3-5 dias/semana </option>
              <option value="intenso"> Exercício físico intenso ou desporto 6-7 dias/semana </option>
            </select>
          </div>
          <div class="form-group">
            <div>
              <label class="control-label" for="type" translate>OBJETIVO</label>
            </div>
            <div>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button mat-raised-button type="button" class="btn btn-secondary" (click)="setGoal('Emagrecer')">Emagrecer</button>
                <button mat-raised-button type="button" class="btn btn-secondary" (click)="setGoal('Manter')">Manter</button>
                <button mat-raised-button type="button" class="btn btn-secondary" (click)="setGoal('Engordar')">Engordar</button>
              </div>
            </div>
          </div>
          <button (click)="nextStep()" class="btn btn-primary"> Próximo passo </button>
    </form>
</div>
