button:hover{
  background: deepskyblue;
}
button:focus{
  background: deepskyblue;
}

button {
  margin-top: 15px;
}

.selectBox {
  margin-left: 16px
}

.selectAll {
  font-size: 10px;
  margin-left: 10px
}

mat-icon {
  color: green;
}
