<div class="container" id="preferencesForm" style="margin: 40px">
  <form name="form">
    <div>
      <h4 translate> Preferências </h4>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label" for="type" translate> Proteínas </label>
      </div>
      <div>
        <ss-multiselect-dropdown [options]="myProteinOptions" name="proteins" [(ngModel)]="proteinOptionsIds" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label" for="type" translate> Caboidratos </label>
      </div>
      <div>
        <ss-multiselect-dropdown [options]="myPastaOptions" name="massas" [(ngModel)]="pastaOptionsIds" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label" for="type" translate> Fibras </label>
      </div>
      <div>
        <ss-multiselect-dropdown [options]="myFiberOptions" name="fibras" [(ngModel)]="fiberOptionsIds" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label" for="type" translate> Legumes </label>
      </div>
      <div>
        <ss-multiselect-dropdown [options]="myVegetableOptions" name="legumes" [(ngModel)]="vegetableOptionsIds" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label class="control-label" for="type" translate> Frutas </label>
      </div>
      <div>
        <ss-multiselect-dropdown [options]="myFruitOptions" name="frutas" [(ngModel)]="fruitOptionsIds" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
      </div>
    </div>
    <button mat-raised-button class="btn btn-secondary" (click)="generateDiet()">Gerar dieta</button>
  </form>
</div>
